* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }


/*css selector vége*/

 

section{
    height: 100vh;
    border-bottom: 1px solid black;
}

section button{
    position: absolute;
    right: 30px;
    bottom: 30px;

    width: 200px;
    height: 60px;
    background-color: blueviolet;
}

section.imageholder img {
    /*background-image: url(https://i.scdn.co/image/ab67616d0000b2730c5f23cbf0b1ab7e37d0dc67);
    background-repeat: no-repeat;
    background-size: cover;*/
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    
}

section.backgroundholder{
    padding: 20px;
    background-clip: content-box;
    border: 10px solid rgba(15, 80, 95, 0.5);
    background-image: url("aloneatprom.jpeg");
    background-size: 200px 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: blueviolet;
}